<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission-sdk-23 android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PurpuraApp"
        tools:targetApi="31">
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".ui.screens.Dashboards"
            android:exported="false" />
        <activity
            android:name=".ui.screens.errors.GenericError"
            android:exported="false" />
        <activity
            android:name=".ui.screens.accountFeatures.MyProducts"
            android:exported="false"
            android:theme="@style/Theme.PurpuraApp" />
        <activity
            android:name=".ui.screens.accountFeatures.MyOrders"
            android:exported="false"
            android:theme="@style/Theme.PurpuraApp" />
        <activity
            android:name=".ui.screens.autentication.AddicionalInformacionsRegisterGoogle"
            android:exported="false" />
        <activity
            android:name=".ui.screens.productRegister.RegisterProduct"
            android:exported="false" />
        <activity
            android:name=".ui.screens.accountFeatures.EditPixKeys"
            android:exported="false" />
        <activity
            android:name=".ui.screens.accountFeatures.EditAddress"
            android:exported="false" />
        <activity
            android:name=".ui.screens.ProductPage"
            android:exported="false" />
        <activity
            android:name=".ui.screens.PaymentStatus"
            android:exported="false" />
        <activity
            android:name=".ui.screens.QrCodePayment"
            android:exported="false" />
        <activity
            android:name=".ui.screens.autentication.Login"
            android:exported="false" />
        <activity
            android:name=".ui.screens.productRegister.RegisterAdress"
            android:exported="false" />
        <activity
            android:name=".ui.screens.productRegister.RegisterProductEndPage"
            android:exported="false" />
        <activity
            android:name=".ui.screens.productRegister.RegisterPixKey"
            android:exported="false" />
        <activity
            android:name=".ui.screens.autentication.RegisterOrLogin"
            android:exported="false" />
        <activity
            android:name=".ui.screens.errors.InternetError"
            android:exported="false" />
        <activity
            android:name=".ui.account.AccountFragment"
            android:exported="false"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ui.screens.autentication.Register"
            android:exported="false" />
        <activity
            android:name=".ui.screens.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.screens.SplashScreen"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/semBarra">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>